@using Bitirme.Models
@model UrunMaliyet
@{
    ViewBag.Title = "Details";
}

@using (Html.BeginForm("Edit", "UrunMaliyet", FormMethod.Post))
{

    <div class="form-group">
        <div>
            @Html.LabelFor(ba => ba.UrunMaliyet_Id)
            @Html.TextBoxFor(ba => ba.UrunMaliyet_Id)


        </div>
        <div>
            <label>Urun</label>
            @Html.DropDownListFor(ba => ba.Urun.UrunId, (List<SelectListItem>)ViewBag.Urunler, new { @class = "form-control" })
        </div>
        <div>
            <label>Dağıtım Ölçüsü</label>
            @Html.DropDownListFor(ba => ba.DagıtımOlcu.DagıtımOlcu_Id, (List<SelectListItem>)ViewBag.Do, new { @class = "form-control" })
        </div>
        <div>
            <label>Faaliyet</label>
            @Html.DropDownListFor(ba => ba.Faaliyet.FaaliyetId, (List<SelectListItem>)ViewBag.Faaliyetler, new { @class = "form-control" })
        </div>
        
        <div>
            <label>Adet</label>
            <input  name="UrunDagıtımAdet" class="form-control" placeholder="Adet" />
        </div>
        <br />
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info">Ekle</button>
    </div>
}

