@using Bitirme.Models
@model List<UrunMaliyet>
@{
    ViewBag.Title = "Index";
}

<table id="mytbl" class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Urun Ad</th>
            <th scope="col">Dağıtım ölçüsü Ad</th>
            <th scope="col">Faaliyet Ad</th>
            <th scope="col">Ürün Adet</th>
            <th scope="col">Sil</th>
            <th scope="col">Güncelle</th>


        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td> @item.Urun.UrunAd </td>
                <td> @item.DagıtımOlcu.DagıtımOlcu_Ad </td>
                <td> @item.Faaliyet.FaaliyetAd </td>
                <td> @item.UrunDagıtımAdet </td>
                <td>@Html.ActionLink("Sil Butonu", "Remove", new { id = item.UrunMaliyet_Id }, new { @class = "btn btn-warning" })</td>
                <td>@Html.ActionLink("Güncelleme Butonu", "Details", new { id = item.UrunMaliyet_Id }, new { @class = "btn btn-success" })</td>

            </tr>
        }
    </tbody>
</table>
@Html.ActionLink("Yeni Urun Adet Ekle", "Create", "UrunMaliyet")