@using Bitirme.Models
@model List<ToplamFaaliyetTutar>
@{
    ViewBag.Title = "FaaliyetToplam";
}
@{
    decimal result = 0;
}
@foreach (var item in Model)
{
   
    result = result + Convert.ToDecimal(item.toplam);

}

<table id="mytbl" class="table table-striped">
    <thead>
        <tr>
         
            <th scope="col">Faaliyet Ad</th>
            <th scope="col">Toplam</th>


        </tr>
    <tbody>




        @foreach (var item in Model)
        {
            var sayi = string.Format("{0:N2}", item.toplam);
           

            <tr>
            
                <td>@item.FaaliyetAd</td>
                <td>@sayi</td>


            </tr>



        }
        <tr>
            <th> </th>
            <th ></th>
            <td></td>
        </tr>

     
        <tr>
           
            <th scope="row">Toplam</th>
            <td>@string.Format("{0:N2}", result)</td>
        </tr>

   
    </tbody>
</table>



@*
    @for (int i = 0; i < Model.Count; i++)
    {
        @*<input type="hidden" name="@("item_name_" + i)" value="@Model[i].Description" />
*@
